.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html {
  background-color: #282c34;
}

nav {
  background-color: #444a58;
  display: flex;
  justify-content: space-between;
  color: white;
}

#nav-title {
  margin-left: 15px;
}

#nav-link-container {
  padding: 25px 0;
  margin-right: 15px;
}

.nav-link {
  color: white;
  margin-left: 7px;
}

.card-container {
  color: white;
  border-style: solid;
  border-color: grey;
  width: 50%;
  margin: auto;
  margin-top: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}